.VwScrollContainer
{
}

.VwVertScroll
{
  width:14px;
  height:100%;
  background-color:transparent;
  position:absolute;
  display:none;
  opacity:.85;
  z-index:9999;
}

.VwVertThumb
{
  position:absolute;
  width:12px;
  background-color:#5c9ec8;
  left:1px;
  top:0px;
  border-radius:10px;
  cursor:pointer;
}

.VwHorzScroll
{
  height:14px;
  background-color:transparent;
  position:absolute;
  display:none;
  opacity:.85;
  z-index:9999;
}

.VwHorzThumb
{
  position:absolute;
  height:12px;
  background-color:#5c9ec8;
  top:1px;
  left:0px;
  border-radius:5px;
  cursor:pointer;
}


